.dropdown-delete-div {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0 ;
  top: 100%;
  padding: 0px 5px;
  border-radius: 5px;
  min-width: 90px;
  height: 2rem;
  color: black;
  z-index: 5;
}
