.DashboardPage{
    width: 90%;
    background-color: rgb(224, 233, 241);
}

.dashboard-main{
    display: flex;
}

.dashboard-content{
    width: 80%;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.dashboard-content::-webkit-scrollbar {
}

@media screen and (min-width:1366px){
    .dashboard-content{
        width: 85%;
    }
  }

.title-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    /* background-color: violet; */
}

.participation{
    width: 40rem;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.tasks-completed-icon{
    color: rgb(4, 231, 4);
}

.work-MG-content{
    padding: 1rem;
    width: 100%;
    height: 30vh;
}

.sidebar-management{
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 100vh;
    padding: 1rem;
    box-shadow: rgba(63, 63, 63, 0.075) 0px 0px 7px 7px;
}

@media screen and (max-width:1920px){
    .sidebar-management{
        width: 15%;
        /* background-color: green; */
    }
}

@media screen and (max-width:1368px){
    .sidebar-management{
        width: 20%;
        /* background-color: blueviolet; */
    }
}


.progress-completed{
    transform: rotate(90deg);
}