.DashboardPage{
    width: 90%;
    height: 100vh;
}

.dashboard-main{
    display: flex;
    background-color: var(--main-bg-color);
}

.dashboard-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.dashboard-content::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:1920px){
    .dashboard-content{
        width: 85%;
    }
  }

.title-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    /* background-color: violet; */
}

.participation{
    padding: 1rem;
    width: 100%;
    display: flex;
    background-color: rgba(187, 115, 84, 0.259);
    height: 70vh;
}

.work-MG-content{
    padding: 1rem;
    display: flex;
    width: 100%;
    height: 30vh;
}

.sidebar-management{
    background-color: rgb(255, 255, 255);
    width: 20%;
    padding: 1rem;
}

@media screen and (max-width:1920px){
    .sidebar-management{
        width: 15%;
        /* background-color: green; */
    }
}

@media screen and (max-width:1368px){
    .sidebar-management{
        width: 20%;
        /* background-color: blueviolet; */
    }
}


.progress-completed{
    transform: rotate(90deg);
}

