.Profile-col{
    width: 90%;
    overflow-y: hidden;
}

.Profile{
    display: flex;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.Profile-content{
    padding: 1rem;
}

.profile-info{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: aliceblue;
    height: 90vh;
}

.overview{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.dendem{
    width: 100%;
    height: 15rem;
    margin-bottom: 1rem;
}

.activity-user{
    /* background-color: blue; */
}

.density{
    width: 24rem;
    background-color: rgb(252, 251, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (min-width:768px){
    .density{
        width: 20rem;
        height: 12rem;
    }
}

@media screen and (min-width:1920px){
    .density{
        width: 24rem;
        height: auto;
    }
}

.demography{
    background-color: rgb(255, 255, 255);
    width: 25.6rem;
    display: flex;
    align-items: center;
    margin-left: 1.7rem;
    padding: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.active-users{
    width: 100%;
    height: 10rem;
    background-color: rgb(255, 255, 255);
}

.profile{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    box-shadow: rgba(63, 63, 63, 0.075) 0px 0px 7px 7px;
}