.navbar-index{
  background-color: #090f62;
  height: 5.5rem;
  border-bottom: 1px solid white;
}

.work-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  border-bottom: 1px solid white;
  background-color: rgba(19, 73, 248, 0.753);
  /* box-shadow: rgb(255, 255, 255) 0px 25px 20px -20px; */
}

.workspace-nav{
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 59%;
}

.name-user{
  font-weight: bold;
  margin-right: 1rem;
}

.name-project{
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  margin-right: 1rem;
}

.name-org{
  margin-right: 1rem;
  background-color: #9970ae5c;
  padding: .5rem;
  border-radius: .2rem;
  color: white;
}

.avatar-group{
  margin-right: 1rem;
}

.invitar-buttom{
  background-color: #8477fd3f;
  padding: .5rem;
  border-radius: .2rem;
  font-weight: bold;
  color: white;
  transition: .1s;
  cursor: pointer;
}

.navbar-links:hover{
  background-color: rgba(195, 181, 255, 0.274);
}