.Navbar {
  display: block;
  text-align: center;
  padding: 25px 25px;
  /* background-color: purple; */
}

.Navbar a {
  text-decoration: none;
  margin: 0px 25px 0px 25px;
  font-weight: 500;
  font-size: 16px;
  color: rgb(139, 0, 194);
  cursor: pointer;
}

.logo {
  display: flex;
}

.logo a {
  font-size: 20px;
  font-weight: bold;
  margin-left: 1px;
}

.FaRProject {
  color: rgb(68, 0, 255);
  margin-left: 25px;
  font-size: 30px;
  margin-top: -4px;
}

.rizeni{
  font-size: 30px;
  font-weight: bold;
}

.FaUserCircle {
  font-size: 25px;
  margin-top: -5px;
}

.IoIosNotifications {
  float: right;
  font-size: 23px;
  margin-top: -2px;
}

.register-button{
  padding: 10px 25px 10px 25px;
  float: right;
  margin-top: -10px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(206, 0, 100);
  color: white;
  border: none;
}

.register-button:hover{
  background-color: rgb(205, 9, 144);
}