.dashboard-container{
    display: flex;
    justify-content: end;
}

.db-column{
    width: 24rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    height: 100vh;
    border: 1px solid black;
}
/* 
.todo{
    width: 100%;
    height: 12rem;
    border: 1px solid gray;
} */