.Menu-container{
    width: 100%;
    display: flex;
}

.Menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15%;
    background-color: rgb(12,38,134);
    color: #fff;
    height: 100vh;
    border-top-right-radius: 30px;
}

.menu-main{
    padding: 10px;
    text-align: center;
    background-color: rgb(252,77,92);
}