.Menu-container{
    width: 100%;
    display: flex;
}

.Menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 12%;
    background-color: #0f0036;
    color: #fff;
    height: 100vh;
    border-top-right-radius: 30px;
}

.menu-main{
    padding: 10px;
    text-align: center;
    background-color: #180050;
}

.menu-options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-options label{
    height: 30px;
    width: 150px;
    color: rgba(219, 219, 219, 0.716);
    margin: 20px 0px 0px 0px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.menu-options p{
    margin-left: 10px;
}

.menu-options .p{
    margin-left: 10px;
    text-decoration: none;
    color: rgba(219, 219, 219, 0.716);
    font-size: 1rem;
}

.menu-options label:hover{
    color: rgb(255, 255, 255);
    background-color: #ffffff12;
}

.dashboard_menu{
    width: 85%;
    height: auto;
    display: flex;
    padding: 0.5rem;
}

.column-todo, .column-progress, .column-finalized{
    width: 32%;
    /* height: fit-content; */
    height: 300px;
    margin: 0% 1% 0% 1%;
    padding: 1%;
    background-color: #bab8b8;
    border-radius: 5px;
}

.head-column{
    display: flex;
    justify-content: space-between;
    margin-top: -5%;
    font-weight: bold;
}

.menu-options label{
    padding: 10px;
    margin-left: 5px;
}

.menu-options h4{
    margin-left: 5px;
}