.WorkFlow{
  background-color: slateblue;
}

.column-container{
  /* background: linear-gradient(to right, #7b4397, #dc2430); */
  background: linear-gradient(to right, #ff0084, #33001b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.WorkFLow{
  width: 85%;
}