/* .todo{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
} */

.todo-container{
    background-color: rgb(255, 255, 255);
    width: auto;
    /* border: 1px solid; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.todo-container label, input{
    padding: 10px;
    margin: 0px 5px 0px 5px;
}

.todo-container input{
    margin: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.todo-container button{
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: rgb(218, 217, 217);
    color: rgb(78, 76, 76);
    border-radius: 6px;
}

.todo-container button:hover{
    background-color: rgb(186, 185, 185);
    color: black;

}